@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('/public/fonts/AktivGrotesk-Regular.woff2') format('woff2'),
    url('/public/fonts/AktivGrotesk-Regular.woff') format('woff'),
    url('/public/fonts/aktivGrotesk.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NOH45_AM_0';
    src: url('/public/fonts/NOH45_AM_0.woff2') format('woff2'),
    url('/public/fonts/NOH45_AM_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/public/fonts/Raleway-Medium.woff2') format('woff2'),
    url('/public/fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

